NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA3YBQ8yGufPYgYLNpZbx_SjQJ57hFMDpE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mesajgonder-46831.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mesajgonder-46831
NEXT_PUBLIC_FIREBASE_APP_ID=1:878605797987:web:361aa967442bbddaa08656
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mesajgonder-46831.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=878605797987
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YGPZP65D50
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
N8N_SERVICE_TOKEN=
N8N_WEBHOOK_SECRET=
GOOGLE_PEOPLE_CLIENT_ID=
GOOGLE_PEOPLE_CLIENT_SECRET=
GOOGLE_PEOPLE_REDIRECT_URI=
